/*
General
*/

img {
    width: 100%;
}

/*
Utilitie
*/

.debug {
    background-color: blue;
    min-height: 35px;
}

/*
Header
*/

header {
    background-color: #F8F9FA;
    height: 55px;
}

header .fa-bell {
    color: #EF9536;
}

/*
Main 
*/
