header {
    background-color: #F8F9FA;
    height: 55px;
}

img {
    width: 100%;
}

.ac-container {
    margin: 0 auto;
    background-color: red;
    display: flex;
    align-items: center;
}

.debug {
    background-color: blue;
    min-height: 35px;
}

header .centrato {
    align-items: center;
    justify-content: center;
}